@import"tailwindcss";
.container{
  padding: 0 15px;
  margin: 0 auto;
  max-width: min(calc(100% -40px), 1200px);
  height: 10px;
  /* border: solid; */
}
body{
  font-family: "space grotesk";
}
.grid-items{
  display: grid;
  grid-template-columns: repeat(2,700px);
  grid-template-rows: repeat(3,410px);
  gap: 40px;
}
.grid-child{
  border: solid;
  border-radius: 45px;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
}